<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CascLib" version="1.0.10" targetFramework="net48" />
  <package id="MimeKitLite" version="2.2.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>