<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CascLib" version="1.0.3" targetFramework="net472" />
  <package id="MimeKitLite" version="2.1.5.1" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
</packages>